.idea/
.vscode/


.env
*.env
projectenv/
venv/
__pycache__/


*.pyc
*.pyo
*.pyd
*.db
*.sqlite3


tests/
*.pytest_cache/
tests.py


*.log
*.zip
*.tar.gz


a_requirements.txt
azure.txt
app.*
*.jpg
*.png
*.PNG
.DS_Store
*.docx
*.doc